@font-face {
   font-family: 'Ananda Namaste Regular';
   font-display: swap;
   src: url('file:///C:/Users/Arjun%20Akna/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-09_100013/fonts/Ananda%20Namaste%20Regular/font.ttf');
}
